# Configurações do banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nestjs-nextjs-graphql-study
DB_PASSWORD=nestjs-nextjs-graphql-study123
DB_DATABASE=nestjs-nextjs-graphql-study_study

# Configurações da aplicação
PORT=3001
NODE_ENV=development
